.modal-dialog-centered1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 85vh;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 9999;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
}

.modal-dialog-centered2 {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 9999;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;

}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px;
}

.close-button {
    margin-right: 10px;
}

.save-button {
    display: flex;
    align-items: center;
}

.button-text {
    margin-left: 5px;
}


.select-container {
    display: flex;
    align-items: flex-start;
    width: 80%;
}


.select {
    margin: 10px;
    flex: 1;
    max-width: 80%; /* Adjust the max-width as desired */
    text-align: left;
    width: 200%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
}

.input-wrapper {
    position: relative;
    z-index: 10000;
    width: 100%;
    margin-right: 10px;
}
.ant-picker-dropdown {
    z-index: 1056;
}

.ant-picker{
    width: 95%;
}

.form-select {
    width: 100%;

}